@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital@0;1&family=Caveat:wght@600&family=Rubik+Moonrocks&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

/* headings */

h1, h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

h1 {
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 46px;
}

/* Intro section */
#intro {
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    text-align: center;
}

.rulesScore {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    padding: 15px;
    border: 1px groove;
    padding: 10px;
}

/* Rules popup inspired from https://youtu.be/MBaw_6cPmAw */
.rulesReset-btns {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}

.rules-btn, .reset-btn {
    width: 120px;
    height: 50px;
    letter-spacing: 1.2px;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;    
    border-style: outset;
    background: bottom;
    cursor: pointer;
}

.rulesImg {
    width: 50%;
}

.modal {
    position: fixed;
    /* Center the text */
    top: 50%;
    left: 50%;
    /* The top left corner is center, to center the whole text we need transform */
    transform: translate(-50%, -50%);
    display: none;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 60%;
}

.modal.active {
    display: block;
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-btn {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.rules {
    padding: 10px 15px 20px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}

/* Scores */

#score {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
}

table {
    background-color: purple;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    letter-spacing: 1.2px;
    padding-bottom: 5px;
}
.score-userPc {
    padding: 10px 15px;
    text-decoration: underline;
}

#user-score::after, #pc-score::after {
    content: attr(data-type);
}

/* Game section */
#game {
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    height: 60vh;
    align-items: center;
    text-align: center;
}

/* Options */
#choice {
    margin-top: 10px;
    margin-bottom: 20px;
}

.choice-btn {
    width: 180px;
    height: 50px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
    font-size: 1rem;
    border-radius: 8px;
    margin-top: 10px;
    border-radius: 50px;
    background: #00c9b7;
    box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
    cursor: pointer;
}
.choice-btn:focus {
    outline: none;
}
.choice-btn:active,
.choice-btn:hover {
    box-shadow: none;
}

/* Game images */

#game-img {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 10px;
    height: 20vh;
}

.imgChoice {
    width: 100px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 3px solid #00c9b7;
    padding: 10px 25px;
    height: 140px;
    margin: 20px;
}

.imgChoice img {
    width: 100%;
    filter: drop-shadow(2px 4px 6px rgb(0 0 0 / 0.5));
}

/* Result */
#result {
    font-family: 'Caveat', cursive;
    font-size: 34px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
    height: 45px;
    width: 600px;
    margin: 30px;
}