@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Titillium Web, sans-serif;
    font-weight: 400;
}

/* headings */

h1, h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

/* Intro section */
#intro {
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    height: 25vh;
    text-align: center;
}

/* Rules popup from https://youtu.be/MBaw_6cPmAw */

.rules-btn {
    width: 220px;
    height: 60px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
    background-color: darkblue;
    font-size: 1rem;
    border-radius: 8px;
    margin-top: 10px;
    text-align: center;
}

.rules-btn:hover {
    background-color: indigo;
}

.modal {
    position: fixed;
    /* Center the text */
    top: 50%;
    left: 50%;
    /* The top left corner is center, to center the whole text we need transform */
    /* Scale 0 to hide it */
    transform: translate(-50%, -50%);
    display: none;
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 60%;
}

.modal.active {
    display: block;
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-btn {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.rules {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}

/* Game section */
#game {
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    height: 75vh;
    text-align: center;
}

/* Options */

.choice-btn {
    width: 220px;
    height: 60px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
    background-color: crimson;
    font-size: 1rem;
    border-radius: 8px;
    margin-top: 10px;
}
.choice-btn:focus {
    outline: none;
}
.choice-btn:active,
.choice-btn:hover {
    background-color: darkred;
}

/* Game images */

#game-img {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    gap: 30px;
    padding-top: 10px;
    height: 20vh;
}

.imgChoice {
    width: 100px;
}

.imgChoice img {
    width: 100%;
}

/* Score */

#score {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
}

#user-score::after, #pc-score::after {
    content: attr(data-type);
}
