@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Titillium Web, sans-serif;
    font-weight: 400;
}

/* headings */

h1, h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

/* Intro section */
#intro {
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    height: 15vh;
    text-align: center;
}

/* Game section */
#game {
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    height: 85vh;
    text-align: center;
}

#rules {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
}

.choice-btn {
    width: 220px;
    height: 60px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
    background-color: crimson;
    font-size: 1rem;
    border-radius: 8px;
    margin-top: 10px;
}
.choice-btn:focus {
    outline: none;
}
.choice-btn:active,
.choice-btn:hover {
    background-color: darkred;
}

/* Game images */

#game-img {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px;
    padding-top: 10px;
    height: 30vh;
}